- const news = {}
- news.first = {title : "“Suicide Squad” voted as “The Best Viewed Movie” for 2016.", img:"img/news/firstNews.png"}
- news.sec = {title: "Patton Oswalt has a theory about the Joker from “The Dark Knight”.", img:"img/news/secNews.png"}
- news.third = {title: "“Captain Marvel” hit by online trolls, Disney was ready for them.", img:"img/news/thirdNews.png"}
- news.fourth = {title: "“Avengers: Endgame” tickets are already going for hundreds on Ebay.", img:"img/news/fourthNews.png"}

- const sideNews = {}
- sideNews.first = {title:"How much cost to do amovie like Hunger Games." ,img:"img/sidenews/first.png"}
- sideNews.sec = {title:"How Jennifer Lawrence live his life.", img:"img/sidenews/sec.png"}
- sideNews.third = {title:"What’s happend in the first part of the movie.", img:"img/sidenews/third.png"}
- sideNews.fourth = {title:"See what actors do during the movie in backstage.", img:"img/sidenews/fourth.png"}

