//- Define movies for shuffle
- const shuffleMovies = {}
//- Define Adventure movies
- shuffleMovies.adventure = {genres: "adventure", movies: {}}
- shuffleMovies.adventure.movies.first = {title: "Black Widow", src: "https://terrigen-cdn-dev.marvel.com/content/prod/1x/blackwidow_lob_crd_06.jpg"}
- shuffleMovies.adventure.movies.sec = {title: "Hitman's Bodyguard", src: "https://m.media-amazon.com/images/M/MV5BNGQ2MGQ1ZGQtOTY4MS00ZDA5LWE5YmUtMGE0YTE2YTZiODZkXkEyXkFqcGdeQXVyMjMxOTE0ODA@._V1_FMjpg_UX1000_.jpg"}

//- Define Action movies
- shuffleMovies.action = {genres: "action", movies: {}}
- shuffleMovies.action.movies.first = {title: "No Body", src: "https://media-cache.cinematerial.com/p/500x/7efk1anf/nobody-movie-cover.jpg?v=1618753351"}
- shuffleMovies.action.movies.sec = {title: "Fast And Forious 9", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe5P_W0uo6hvKnrbXaBn3Rxfj3sIwDYjiCaZdyiR-wxtXYsGtMJ6WRS3fBIRrCRLFXFco&usqp=CAU"}

//- Define Animation movies
- shuffleMovies.animation = {genres: "animation", movies: {}}
- shuffleMovies.animation.movies.first = {title: "Fullmetal Alchemist", src: "https://pm1.narvii.com/6356/60e885274baa95b141cbe7b6cbd1549cc85269ae_hq.jpg"}
- shuffleMovies.animation.movies.sec = {title: "Attack Of Titans", src: "https://animenewsandfacts.com/wp-content/uploads/2020/05/IMG_20200529_145307.jpg"}

//- Define Biography movies
- shuffleMovies.biography = {genres: "biography", movies: {}}
- shuffleMovies.biography.movies.first = {title: "The Imitation Game", src: "https://m.media-amazon.com/images/M/MV5BOTgwMzFiMWYtZDhlNS00ODNkLWJiODAtZDVhNzgyNzJhYjQ4L2ltYWdlXkEyXkFqcGdeQXVyNzEzOTYxNTQ@._V1_.jpg"}

//- Define Crime movies
- shuffleMovies.crime = {genres: "crime", movies: {}}
- shuffleMovies.crime.movies.first = {title: "The Little Things", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlvSENVL7lZO4zgSusGEmYkcFew8jPt0EFaBI4_uSUJA6DHa25SEfnho7L_wawm4MmNHc&usqp=CAU"}

//- Define Comedy movies
- shuffleMovies.comedy = {genres: "comedy", movies: {}}
- shuffleMovies.comedy.movies.first = {title: "Grown Ups", src: "https://images-na.ssl-images-amazon.com/images/I/71yraS3WEzL._SL1290_.jpg"}

//- Define Drama movies
- shuffleMovies.drama = {genres: "drama", movies: {}}
- shuffleMovies.drama.movies.first = {title: "The Judge", src: "https://media.elcinema.com/uploads/_320x_00844088d2cbdedd37b7b175899c667286247a438d1bdc9f167cfe3ee6f274b6.jpg"}

//- Define Documentary movies
- shuffleMovies.documentary = {genres: "documentary", movies: {}}
- shuffleMovies.documentary.movies.first = {title: "Biking Borders", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQesiPV3NjAimLMV19UWLy-vINFZ9t-QazW0WT-RqrZEhv8xACtixgcLKxOLqWO2m5NuF4&usqp=CAU"}
- shuffleMovies.documentary.movies.sec = {title: "Malika", src: "https://resizing.flixster.com/Pph8CeGWgpP-cPwhzLlhnqXkcrQ=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzL2E5OTIxMzQ0LTdlN2MtNDg3Ni05NGZiLWI0MjJiMDVkMGRjYy5qcGc="}
