//- Define Side Bar
- const categories = ["Movies", "Seriels", "Favourities", "Images", "Videos"]
- const achivves = ["April 2017", "June 2018", "March 2019"]
- const meta = ["Log In", "Comments RSS", "WordPress.org"]
- const recentPosts = {}
- recentPosts.first = {title:"The 10 Best Gifts For Fans Of The Dark Knight Trilogy.", img:"img/recentposts/first.png"}
- recentPosts.sec = {title:"10 Most Memorable Quotes From The Dark Knight Trilogy.", img:"img/recentposts/sec.png"}
- recentPosts.third = {title:"Captain Marvel' Passes 'The Dark Knight' at the Worldwide Box Office.", img:"img/recentposts/third.png"}
- recentPosts.fourth = {title:"Dark Knight trilogy IMAX tickets sell out rapidly.", img:"img/recentposts/fourth.png"}
