$navLink: #ccc;
$redColor: #b50a17;
$mainHeaderColor: #a2a2a2;
$descHeaderColor: #ddd;
$sidebarListColor: #ddd;
$descColor: #7c8186;
$bgLightColor: #020d18;
$bgDarkColor: #000b15;
$badgesColor: (
  1: '#f4b01e',
  2: '#37a3df',
  3: '#df5f37',
);
$trailerBtnColor: #fe0f20;
$listBtnColor: #000;
$loadBtnColor: #15202b;
