.article-blog {
  h3 {
    @extend %articleHeader;
    margin: {
      top: 30px;
      bottom: 30px;
    }
  }
  p {
    @extend %paragraph;
  }
  h4 {
    @extend %articleHeader;
    font-size: 1.2rem;
  }
  span,
  i {
    color: $descHeaderColor;
    &:not(:last-of-type) {
      margin-right: 10px;
      font-size: 1.2rem;
    }
  }
  span {
    i {
      margin-right: 5px;
    }
  }
}
hr {
  background-color: $sidebarListColor;
  opacity: 1;
  margin: 50px 0;
}
