.slider {
  h2 {
    @extend %mainHeader;
  }
  .carouselOfImages {
    margin: auto;
    overflow: visible;
    .carouselImage {
      width: 200px;
      height: 200px;
      margin-top: 45px;
      margin-bottom: 10px;
      border-radius: 5px;
      counter-increment: carousel-cell;
      transition: transform 0.5s;
      transform: scale(1);
      img {
        height: 160px;
        width: 160px;
      }
      &.is-selected {
        z-index: 10;
        transform: scale(1.5);
      }
      &.nextToSelected {
        transform: scale(1.25);
        z-index: 5;
      }
    }
  }
  .flickity-enabled {
    position: relative;
    &:focus {
      outline: none;
    }
    &.is-draggable {
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .flickity-viewport {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
        &.is-pointer-down {
          cursor: -webkit-grabbing;
          cursor: grabbing;
        }
      }
    }
    .flickity-viewport {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 90%;
      margin: auto;
      .flickity-slider {
        position: absolute;
        width: 100%;
      }
    }
    .flickity-prev-next-button {
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      i {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
      }
      .arrow {
        fill: $mainHeaderColor;
      }
      &:hover {
        background: transparent;
        .arrow {
          fill: $redColor;
        }
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &:active {
        opacity: 0.6;
      }
      &:disabled {
        opacity: 0.3;
        cursor: auto;
      }
      &.previous {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }
    .flickity-page-dots {
      display: none;
    }
  }
  #lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    height: 90vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  #dark {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
  }
  .product-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 222;
    @include media-breakpoint-down(lg) {
      display: block;
    }
    &.hide {
      display: none;
    }
    .product-detail-inner {
      background-color: $bgLightColor;
      width: 80%;
      min-height: 40%;
      position: relative;
      padding: 1rem;
      overflow-y: auto;
      display: flex;
      align-items: center;
      border-radius: 10px;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      h3 {
        @extend %descHeader;
      }
      p {
        @extend %paragraph;
      }

      .play {
        @include buttonBg($trailerBtnColor);
      }

      .product-detail-close {
        position: absolute;
        top: 1px;
        right: 10px;
        cursor: pointer;
        font-size: 2.3rem;
        font-weight: 700;
        color: $navLink;
        text-decoration: none;
      }
    }
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    .modal-content {
      width: 100%;
      height: calc(100% - 50px);
      position: absolute;
      top: 50px;
      border-radius: 10px;
      border: 0;
      .close {
        position: absolute;
        width: 100%;
        right: 0;
        top: -50px;
        z-index: 9999;
        font-size: 1.8rem;
        font-weight: normal;
        border: 0;
        height: 50px;
        line-height: 50px;
        background-color: $bgLightColor;
        color: $navLink;
        padding: 0;
      }
      .modal-body {
        position: relative;
        padding: 0px;
        background-color: $bgLightColor;
      }
    }
  }
}
